---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->    
    <header id="header">
        
    </header>

    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    </style>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <div class="imgbox">
            <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}"
                        class="center-fit" loading="lazy"/><br>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        
    </footer>
</div>
