<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" href="style.css" />

    <link href="https://fonts.googleapis.com/css2?family=Heebo&display=swap" rel="stylesheet" />

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="assets/favicon.png" />

    <!-- <title>Chitrahaar</title> -->
</head>

<body>

    <header>
        <div class="header1">
            <ul>
                <img loading="lazy" class="logo"
                src="https://raw.githubusercontent.com/ArielAndNitay/ArielAndNitay.github.io/master/images/logo.png"/>
    
                <li><a href="https://www.facebook.com/ariel.and.nitay/" target=" blank"><i
                            class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com/ariel_nitay_photography/" target="blank"><i
                            class="fa fa-instagram"></i></a></li>
                <li><a href="https://wa.me/972587990583?text=%D7%94%D7%99%D7%99+%D7%90%D7%A8%D7%99%D7%90%D7%9C%2C+%D7%90%D7%A9%D7%9E%D7%97+%D7%9C%D7%A9%D7%9E%D7%95%D7%A2+%D7%A4%D7%A8%D7%98%D7%99%D7%9D+%D7%9C%D7%92%D7%91%D7%99+%D7%A6%D7%99%D7%9C%D7%95%D7%9D+%D7%90%D7%99%D7%A8%D7%95%D7%A2+%3A%29" target="blank"><i
                            class="fa fa-whatsapp"></i></a></li>
            </ul>
        </div>
    </header>
    
<section id="home" class="hometext">
    <div class="container">
        
    <h1><b>אריאל ונתאי</b><br>צילום אירועים</h1>
    </div>
</section>

<div class="black-line">
</div>

    <!-- Main -->
    <div id="main">
        {% for image in site.static_files %}
        {% if image.path contains 'fulls' %}
        <div class="imgbox">
            <img src="{{ site.baseurl }}{{ site.image_thumbs_loc }}/{{ image.name }}"
                        class="center-fit" loading="lazy"/><br>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    
    <footer>
        <p>&copy; אריאל ונתאי צילום</p>
    </footer>
</body>

</html>
