html{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}


*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Heebo', cursive;
    text-align: center;
}

/***** Scroll Bar ********/
body::-webkit-scrollbar{
    width: 0.7rem;
    height: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #000000;
  }
  
  body::-webkit-scrollbar-thumb{
    background-color: goldenrod;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

img{
    max-width: 100%;
    height: auto;
}
.hometext .container{
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

/* =======title======= */

.hometext span{
    letter-spacing: 2px;
    text-align: center;
    display: block;
    font-size: 1.4em;
    margin-left: 1px;
    margin-top: 2.9em;
}

.hometext h1{
    font-size: 6em;
    line-height: 70px;
    text-align: center;

} 

/* =======logo======= */
.logo {
    width: 10%;
    float: right;
}

/* =======button======= */

.button{
    display: inline-block;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: .5em 1.75em;
}

.button-small{
    font-size: .7rem;
}

.button-accent{
    color: chocolate;
}

.button-accent:hover{ 
    background:goldenrod;
    color: black;
    transition: 150ms ease-in;
}



/* ======header====== */
header{
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

/* =======home-bg======= */
.hometext{
    background-image: url("https://raw.githubusercontent.com/shvushon/photography/master/images/fulls/A%20(4).jpg");
    padding: 6em 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

/* =======footer======= */
.footer-main-div{
    width: 100%;
    height: 100px;
    margin: auto;
    background: #272727;
}
.footer-social-icons{
    width: 100;
    height: auto;
    margin: auto;
}

.footer-social-icons ul{
    margin: 0px;
    padding: 10px;
}

.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: goldenrod;
}

.footer-social-icons ul li a{
    color: black;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i{
    line-height: 50px;
}

.footer-main-menu{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-main-menu ul{
    margin: 0px;
    padding: 0px;
}

.footer-main-menu ul li{
    display: inline-block;
    margin: 0px 10px;
}

.footer-main-menu ul li a{
    font-size: 20px;
    font-weight: 100;
    color: white;
    text-decoration: none;
    outline: none;
}

.footer-bottom{
    width: 100;
    height: 50px;
    margin: auto;
    background: goldenrod;
    padding: 2px;
}

.footer-bottom p{
    font-family: monospace;
    text-transform: capitalize;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
}

.footer-bottom p a{
    color: black;
    text-transform: lowercase;
}
